{% extends 'admin/admin.base.html.twig' %}

{% block header %}
    {{ parent() }}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
      tinymce.init({ 
          selector:'textarea',
          width: 600,
          menubar: false/*,
          content_css: '/css/main.css'*/
      });
  </script>
{% endblock %}

{% block body %}
<h1>Blog post edit</h1>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('admin_blog_list') }}">Back to Blog posts list</a>
    </div>
</div>        
{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
<div class="form-horizontal">
    {{ form_errors(form) }}
    
    {{ form_widget(form.id) }}

    <div class="row">
        <div class="form-group">
          <label for="form_name" class="control-label col-xs-2">Title</label>
          <div class="col-xs-10">
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'Title' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_slug" class="control-label col-xs-2">Slug</label>
          <div class="col-xs-10">
            {{ form_errors(form.slug) }}
            {{ form_widget(form.slug, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'Slug' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_slug" class="control-label col-xs-2">Content</label>
          <div class="col-xs-10">
          {{ form_errors(form.content) }}
          {{ form_widget(form.content, { 'attr': { 'class': 'text-area blogarea', 'placeholder': 'Content' }}) }}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
          <label for="form_position" class="control-label col-xs-2">Position</label>
          <div class="col-xs-10">
          {{ form_errors(form.position) }}
          {{ form_widget(form.position, { 'attr': { 'class': 'text-box single-line', 'placeholder': 'Position' }}) }}
          </div>
        </div>
    </div>
    
    <div class="row">
        
        
        <div class="form-group">
          <label for="form_upl" class="control-label col-xs-2">Change post image</label>
          <div class="col-xs-10">
            <input type="file" name="upl"/>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-2">Current post image</label>
            <div class="col-xs-10">
                <img src="{{ image_url_prefix }}{{ blog.imageUrl }}" class="blogimg" alt=""/>
            </div>
        </div>
    </div>
          
    <div class="row">          
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Save">
            </div>
        </div>
    </div>
    
</div>
{{ form_end(form) }}

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('admin_blog_list') }}">Back to Blog posts list</a>
    </div>
</div>            
{% endblock %}