{% extends "base.html.twig" %}

{% block body %}
  <div class="main-header ">
        <img src="/img/bike-heading.jpg" alt="rent me heading." class="img-responsive max-1600 max-320"/>
        <img src="/img/bike-heading-rwd.jpg" alt="rent me heading." class="img-responsive max-1600 min-320"/>
        <div class="main-search kategorie-search">
            <h2 class="heading mobile-hidden">Sport & Freizeit bei <span class="text-yellow text-bold"> hey! VIENNA</span></h2>
            <div class="mobile-headers">
              <h1 class="text-white text-background desktop-hide-inline">Sport & Freizeit bei</h1>
            </div>
            <div class="mobile-headers">
              <h1 class="margin-bottom-40 text-white text-background desktop-hide-inline"><span
                              class="text-yellow text-bold">hey! VIENNA</span></h1>
            </div>
            <!--
            <div class="kategorie-form">
                <form method="post" accept-charset="utf-8" action="/kategorie/index/Rennr%C3%A4der"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div><input type="text" name="test2" placeholder="(z.B. 1050 Wien)" class="city-input" id="test2"><input type="submit" value="los geht´s!"></form>                <span class="clearfix"></span>
            </div>
            -->
            <div class="search-form mobile-kategorie-form mobile-hidden">
                <form method="post" accept-charset="utf-8" action="/heyrentme"><div style="display:none;"><input type="hidden" name="_method" value="POST"></div><select name="gender" class="selectpicker mobile-hidden" title="SUCHE"><option value="&lt;option data-content=&quot;&lt;span class=&quot;link-selected&quot; href=&quot;content&quot;&gt;OFFICE&lt;/span&gt;&quot;&gt;&lt;/option&gt;">BITE</option></select><select name="gender2" class="selectpickerspc"><option value="S">HAUPTKATEGORIEN</option><option value="T">HAUPTKATEGORIEN</option></select><input type="submit" class="desktop-hide" value="los geht´s!"></form>
                <ul class="col-xs-6 pull-right text-right kaup-select">
                    {{ render(controller('AppBundle:Common:categoryList')) }}
                </ul>
            </div>

        </div>
    </div>
  </header>
  <div class="search-form mobile-kategorie-form select-select desktop-hide">
    <span class="clearfix"></span>
  </div>
  <div class="container">
  {{ render(controller('AppBundle:Common:categoryList', { 'mobile': true })) }}
  <section class="main-categories main-offers">
    <div class="container  background-white background-light-grey">
        <nav class="crumbs">
            <ul class="col-xs-6">
                <li><a href="{{ path('start-page') }}">hey! VIENNA</a></li>
                <li><a href="{{ path('rentme') }}" {% if not category %}class="active-crumb"{% endif %}>hey! rentme</a></li>
                {% if category %}
                    <li><a href=""{{ path('catchall', { 'content': category.slug }) }}#categories" class="active-crumb">{{ category.name }}</a></li>
                {% endif %}
            </ul>
            <ul class="col-xs-6 pull-right text-right kaup-select">
                <li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}                    
                    <a class="active-crumb" href="{{ path('equipment-add-1', { 'subcategoryId': category.id }) }}">In dieser Kategorie anbieten</a>
                {% else %}
                    <a class="active-crumb" href="{{ path('rental-detail', { 'subcategoryId': category.id }) }}">In dieser Kategorie anbieten</a>
                {% endif %}
                    
                </li>
            </ul>
            <ul class="col-xs-4 pull-right text-right">
                <li class="gallery-gallery"><a id="show-grid">
                        <span class="gallery-icon"></span>
                    </a></li>
                <li class="gallery-block"><a id="show-list">
                        <span class="gallery-block-icon"></span>
                    </a></li>
            </ul>
        </nav>        
        <div class="col-sm-8 col-xs-12 pull-left sortieren">
          <p>
            Sortieren nach:
          </p>
          <select class="selectpicker" title="Neueste zuerst">
            <option value="Neueste zuerst">
              Neueste zuerst
            </option>
            <option value="Neueste zuerst">
              Neueste zuerst
            </option>
        </select>
        </div>
        <span class="clearfix"></span>
        <div class="row">
    {% for eq in equipments %}
        <a class="text-black" href="{{ path('catchall', { 'content': eq.urlPath }) }}">
            <div class="col-md-4">
                {% if eq.images|length > 0 %}
                    <img src="{{ image_url_prefix }}{{ eq.images[0].urlPath }}" alt="placeholder"/>
                {% else %}
                    <img src="/img/equipment-default.jpg" alt="placeholder"/>
                {% endif %}
                {% if eq.priceBuy %}
                    <img src="/img/cart.svg" alt="cart" class="cart"/>
                {% endif %}
                {% if eq.Discount > 0 %}
                    <div class="discount"><span>-{{ "%d"|format(eq.Discount) }}%</span></div>
                {% endif %}
                <div class="product-info position-relative">
                    <div class="row">
                        <img src="{{ eq.user.profilePicture(false, image_url_prefix) }}" alt="cart" class="product-user product-user2"/>
                        <div class="col-xs-7">
                            <ul>
                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                <li><span class="marked glyphicon glyphicon-star"></span></li>
                                <li><span class="glyphicon glyphicon-star"></span></li>
                            </ul>
                            <p class="product-name">
                                {{ eq.Name }}
                            </p>
                        </div>
                        <div class="col-xs-5">
                            <p class="price">
                                {{ "%.2f"|format(eq.Price) }} &#8364;
                            </p>
                            <p class="tag">
                                pro tag
                            </p>
                        </div>
                    </div>
                </div>
                <p class="product-list-info">{{ eq.Description }}</p>
                <p class="product-list-info">Tincip erostrud dolore magnis atum quisse
                    d eugiam, sis nisit nullaorpero duis nim nit nonseni ssismolesto commy nullum nos adio odolorem iriusto ex esto diatet alisim ipisl il doluptate tat, corpero ex elenibh ea facidunt lummolor am inim nim ing eriliquat.</p>
                <span class="list-desc-border"></span>
            </div>
        </a>
    {% endfor %}
    
  </div>    </div>
  </section>
  <script>
    $(document).ready(function(){
       var grids = $('#show-grid');
       var lists = $('#show-list');
       var avatar = $('.product-user');
       var text = $('.product-list-info') ;
       var border = $('.list-desc-border');

       grids.on('click',function(){
           lists.children().addClass('gallery-block-icon').removeClass('gallery-block-icon-active');
           $(this).children().addClass('gallery-icon').removeClass('gallery-icon-active');
           //avatar.show();
           text.hide();
           border.css('display','none');
           $('.product-info').css('border-bottom','1px solid #e5e5e5').removeClass('no-margin-bottom');

       });
        lists.on('click',function(){
            grids.children().addClass('gallery-icon-active');
            $(this).children().addClass('gallery-block-icon-active');
            //avatar.hide();
            text.show();
            border.css('display','block');
            $('.product-info').css('border-bottom','none').addClass('no-margin-bottom');
        });
    });
  </script>
  </div>
{% endblock %}
