{% extends 'base.html.twig' %}

{% block home_header %}{% endblock %}

{% block body %}
    {% include('provider/user_nav.html.twig') %}
    <section class="users container background-light-grey">
      <div class="row">
          <!-- Left side -->
          <div class="col-md-9">
              <img src="/img/logo-small.svg" alt=""/>            <ul class="steps">
                  <li class="step-1 active-step"><span class="counters"><span class="n-one"></span>Tarif</span></li>
                  <li class="step-2 active-step"><span class="counters"><span class="n-two"></span>Beschreibung</span>
                  </li>
                  <li class="step-3"><span class="counters text-bold"><span class="n-three"></span>Details</span></li>
                  <li class="step-4"><span class="counters greyed"><span class="nh-four"></span>Fertig</span></li>
              </ul>
          </div>

          <!-- Right side -->
          <div class="col-md-3 margin-rwd">
            <div class="support">
              <p class="head">Anbieter Support</p>
              <p class="mail"><a href="mail:support@hey-tsc.com">support@hey-tsc.com</a></p>
            </div>
          </div>
      </div>
      <div class="row user-forms">
          <div class="col-md-8">
              <div class="row">
                  <div class="col-xs-12 border-bottom-white form-head">
                      <div class="form-container form-input-border">
                          <div class="row">
                              <div class="col-sm-12">
                                  <span class="number-three number-rwd"></span>
                                  <p class="form-heading">Details!</p>
                                  <a href="" class="pull-right margin-top-15 open-sans">Überspringen >></a>
                              </div>
                          </div>
                      </div>
                  </div>
                  {% for section in subcategory.featureSections %}
                        <div class="col-xs-12 border-bottom-white form-head describe">
                            <div class="form-container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>{{ section.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-container form-input-border">
                                <div class="row">
                                {% for feature in featureSectionRepo.textlessFeaturesSorted(section.id, 0) %}
                                    <div class="col-xs-4">
                                      <div class="chbox-holder">
                                        <input type="checkbox" id="feature_{{ feature.id }}">
                                        <label for="feature_{{ feature.id }}"><span></span>{{ feature.name }}</label>
                                      </div>
                                    </div>
                                {% endfor %}
                                {% for feature in featureSectionRepo.textlessFeaturesSorted(section.id, 1) %}
                                    <div class="col-xs-12">
                                      <div class="chbox-holder">
                                        <input type="checkbox" id="feature_{{ feature.id }}">
                                        <label for="feature_{{ feature.id }}"><span></span><input type="text" placeholder="{{ feature.name }}" /></label>
                                      </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                  {% endfor %}
                  <div class="col-xs-12">
                      <div class="form-container form-input-border">
                          <div class="row">
                            <div class="phone-inputs">
                              <span>+43</span><input type="number" maxlength="3" min="0" placeholder="000" />
                              <input type="number" maxlength="7" min="0" placeholder="1234567" />
                            </div>
                          </div>
                      </div>
                  </div>
                  <input type="submit" class="green-big-button green-button" value="Einstellungen speichern und fertig">
              </div>
          </div>
      </div>
  </section>
  </div>
{% endblock %}
